@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    font-family:'Poiret One', cursive;
    padding: 0;
    margin: 0;
}
header{
    background-color: #27187E;

}
img{
    /* max-width: 20%; */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#27187E;
    padding-top: 5%;
    padding-bottom: 5%;
    

}

h1{
    text-align: center;
    text-transform: uppercase;
    /* text-shadow: 100px;
    text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.468); */
    color:#27187E ;
    font-size:300%;
    font-weight: 400;

}
ul li{
    list-style: none;
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;  
    color: black;  
    font-size: 30px;    
    margin: 2%;
    border: none;
    padding: 10px;
    width: auto;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 5px 10px 15px -5px #888888;
    
   
    
}
body{
    background-color: #f3f3f3;
}


#newItemButton{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    z-index: 99;
    border: none;
    background-color: #F1F2F6;
    position: fixed;
    bottom: 20px;
    right: 30px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background-image: url(./basket.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin-bottom: 1%;
    display: inline-block;
    border: 1px solid #758BFD;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: larger;
    margin-left: 25%;
    
}

input[type=submit]{
    width: 50%;
    background-color: #758BFD;
    color: white;
    padding: 14px 20px;
    margin-left: 25%;
    border: none;
    border-radius: 4px;  
    font-size: larger;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    
    
} 
input[type=text]:focus {
    outline: none;
    
  }