@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    font-family:'Poiret One', cursive;
    padding: 0;
    margin: 0;
}
header{
    background-color: #454645;

}
img{
    /* max-width: 20%; */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #454645;
    padding-top: 5%;
    padding-bottom: 5%;
    

}

h1{
    text-align: center;
    text-transform: uppercase;
    /* text-shadow: 100px;
    text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.468); */
    color: #454645;
    font-size: 60px;
    font-weight: 400;

}
ul li{
    list-style: none;
    text-transform: capitalize;
    font-family: 'Parisienne', cursive;    
    font-size: 30px;    
    margin: 1%;
    border: 3px solid red;
    padding: 10px;
    width: auto;
    height: 50px;
    border-radius: 5px;
   
    
}
